/*CSS file used in all pages*/
/*====================== Global ====================== */
body{
	font-family: Avenir;
	margin: 0 auto;
	padding: 0;
}
h1.title {
  text-align: left;
}
p {
	text-align: left;
	line-height: 1.4;
}
@media (min-width: 768px) {
.navbar-toggle {display: inline-block;}
}
@media (max-width: 992px) {
    p{font-size: 12px;}
}
@media (max-width: 1200px) {
    p{font-size: 13px;}
}

hr {
    height: 1px;
    background-color:#555;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 90%;
}


/*To Fix off canvas sliding*/
.navmenu-fixed-right {left: auto !important;}
.navbar-toggle {left: auto !important;}
body.canvas-sliding, body.canvas-slid {left: auto !important;}
.navmenu, .navbar-offcanvas {
  width: 225px;
}

.row { min-width: 800px !important; }

section {
	position: relative;
}

.title img {
  opacity: 0.5;
  pointer-events: auto;
  cursor: pointer;
  margin: 10px;
}
.title img:hover {
    opacity: 1;
}


.nextSection {
	position: absolute;
  bottom: 5px;
  width: 100%;
  min-width: 800px !important;
  pointer-events: none;
}
.nextSection a {
   	opacity: 0.5;
    pointer-events: auto;
}
.nextSection a:hover {
   	opacity: 1;
}

.navbar-toggle div {
	display: inline-block;
}

/*Define 5 column layout for bootstrap*/
.col-xs-5th {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5th {
    width: 20%;
    float: left;
}


/* Slider CSS*/

#greenSlider .slider-selection {
  background: #00d0a1;
  opacity: 0.5;
}
#greenSlider .slider-handle {
  background: #00d0a1;
}
#greenSlider .slider-tick.in-selection {
  background: #00d0a1;
}

#blueSlider .slider-selection {
  background: #64bdff;
  opacity: 0.5;
}
#blueSlider .slider-handle {
  background: #64bdff;
}
#blueSlider .slider-tick.in-selection {
  background: #64bdff;
}

#orangeSlider .slider-selection {
  background: #FF9B3C;
  opacity: 0.5;
}
#orangeSlider .slider-handle {
  background: #FF9B3C;
}
#orangeSlider .slider-tick.in-selection {
  background: #FF9B3C;
}

#redSlider .slider-selection {
  background: #fc4e77;
  opacity: 0.5;
}
#redSlider .slider-handle {
  background: #fc4e77;
}
#redSlider .slider-tick.in-selection {
  background: #fc4e77;
}





/* Tool Tip CSS */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


/*====================== Tiles ====================== */
.icon{
  width: 70%;
  padding-top: 70%;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 15%;
  background-color: #1F1C2A;
}

.icon:hover {
  background-color: rgba(84, 219, 189, 0.75);/*rgba(31, 28, 42, 0.6);*/
  transition: all 0.1s ease-in-out;
}

#intro a {
  text-decoration: none;
  color: black;
}


#likelihood_img{
  background-image: url(../img/likelihood.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


#expectation_img{
  background-image: url(../img/expectation.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#variance_img{
  background-image: url(../img/variance.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#setTheory_img{
  background-image: url(../img/setTheory.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#combinatorics_img{
  background-image: url(../img/combinatorics.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#conditionalProbability_img{
  background-image: url(../img/conditionalProbability.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#randomVariable_img{
  background-image: url(../img/randomVariable.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#discreteContinuous_img{
  background-image: url(../img/discreteContinuous.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#centralLimitTheorem_img{
  background-image: url(../img/centralLimitTheorem.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#estimation_img{
  background-image: url(../img/estimation.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#confidenceInterval_img{
  background-image: url(../img/confidenceInterval.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#pval_img{
  background-image: url(../img/pval.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#hypothesisTesting_img{
  background-image: url(../img/hypothesisTesting.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#linearRegression_img{
  background-image: url(../img/linearRegression.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#correlation_img{
  background-image: url(../img/correlation.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#anova_img{
  background-image: url(../img/anova.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}