<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Scrolling CSS -->
<link rel="stylesheet" href="/css/scrolling-nav.css">
<!-- Off Canvas CSS -->
<link rel="stylesheet" href="/css/jasny-bootstrap.min.css">
<!-- Custom Fonts CSS -->
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
<!-- Main CSS -->
<link rel="stylesheet" href="/css/main.css">
<!-- Visualization CSS -->
<link rel="stylesheet" href={{ page.css | prepend: "/css/visualization/" }}>
