<!-- Navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#offCanvasMenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <select id="translation-selector" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
            <option {% if page.lang=="" %} selected {% endif %} value={{page.class | append: "\"}}>
                English
            </option>
            <option {% if page.lang=="cn" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                لعربية
            </option>
            <option {% if page.lang=="other" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                简体
            </option>
            <option {% if page.lang=="other" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                Español
            </option>
            <option {% if page.lang=="other" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                Italiano
            </option>
            <option {% if page.lang=="other" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                中文
            </option>
            <option {% if page.lang=="other" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                Türk
            </option>
            <option {% if page.lang=="other" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                русский
            </option>
            <option {% if page.lang=="other" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                Português
            </option>
            <option {% if page.lang=="other" %} selected {% endif %} value={{page.class | append: "\cn"}}>
                Français
            </option>
        </select>
        <a class="navbar-brand page-scroll" href="#page-top">{{ page.title }}</a>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#first">{{ page.sections[0] }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#second">{{ page.sections[1] }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#third">{{ page.sections[2] }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
