



/* Point Estimation */

/*#true {
	cursor: row-resize;
}*/

/*#propertyControl {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}*/

/*.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: "Helvetica Neue";
	font-size: 11px;
	fill: black;
}


label.slider {
  width: 100px;
  padding-right: 20px;
  text-align: right;
  font-weight: normal; 
}
.slider.slider-horizontal {
  width: 140px;
  margin-right: 10px;
}*/


/* Bayes */

.bar line {
	stroke: black;
	stroke-width: 2;
}

.bar text {
	fill: black;
	text-anchor: middle;
}

.disease {
	fill: #00d0a1;
	stroke-width: 1;
	stroke: #00d0a1;   
}
.healthy {
	fill: #64bdff;
	stroke-width: 1;
	stroke: #64bdff; 
}
.positive {
	/*fill-opacity: 1;*/
}
.negative {
	/*fill-opacity: 0;  */
}

/* Prior */

.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: "Helvetica Neue";
	font-size: 11px;
	fill: black;
}

.blur-out {
    -webkit-filter: blur(8px);
    opacity: 0.1;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#coinWrapper {
	display: inline-flex;
	align-items: center;
}

#coin {
	width:100px;
	height: 100px;
	background-image: url(../img/head.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

#coinButtons {
	display: inline-flex;
	flex-direction: column;
}

#coinButtons .btn {
	margin: 5px 0px;
}

.beta {
	stroke:	#00d0a1;
	fill: none;
}

.true {
	stroke: #64bdff;
	stroke-width: 2;
	stroke-dasharray: 2;
}


/* Likelihood */

.sample {
	fill: #64bdff;
}

.sample-line {
	stroke:	#FF9B3C;
	stroke-width: 3;
	stroke-dasharray: 2;
}

.likelihood-line {
	stroke:	#FF9B3C;
	stroke-width: 3;
	stroke-dasharray: 2;
}

.sampling {
	fill: #64bdff;
	fill-opacity: 0.5;
	stroke:	#64bdff;
  	stroke-width: 5;
}

.density {
	fill: none;
	stroke:	#64bdff;
  	stroke-width: 2;
}

.likelihood {
	fill: none;
	stroke:	#FF9B3C;
  	stroke-width: 5;
}

label.slider {
  width: 100px;
  padding-right: 20px;
  text-align: right;
  font-weight: normal; 
}
/*.slider.slider-horizontal {
  width: 140px;
  margin-right: 10px;
}*/

/* Posterior */

.prior {
	fill: none;
	stroke:	#00d0a1;
  	stroke-width: 5;
}

.marginal_likelihood {
	fill: none;
	stroke:	#FF9B3C;
  	stroke-width: 5;
}

.posterior {
	fill: none;
	stroke:	#fc4e77;
  	stroke-width: 5;
}

.posterior-line {
	stroke:	#fc4e77;
	stroke-width: 3;
	stroke-dasharray: 2;
}

.prior_parameters {
	display: none;
}

#show_prior_likelihood {
	display: none;
}
